* {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
}

body {
    height: calc(100vh - 16px);
    background-color: #020208;
    background-image: linear-gradient(#020208, #151520);
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.chat-component {
    position: absolute;
    width: 650px;
    height: 900px;
    color: white;
}

.chat-component::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 30px;
    border: 2px solid transparent;
    background: linear-gradient(#7272BB, #222267) border-box;
    mask: linear-gradient(black, black) padding-box,
    linear-gradient(black, black);
    mask-composite: exclude;
    z-index: -1;
}

.chat-body {
    /* Layout */
    translate: 2px 2px;

    /* Box Model */
    width: 100%;
    height: 100%;
    border-radius: 30px;

    /* Visual */
    background-image: linear-gradient(#2C2C2C, #202020 10%);

    .chat-header {
        /* Box Model */
        margin: 0;
        height: 12%;

        /* Text */
        text-align: center;
        align-content: center;
        color: #808080;
    }

    .chat-title {
        /* Box Model */
        margin: 10px 0 10px 0;
        /* Text */
        font-weight: 400;
        font-size: 2em;
    }

    .chat-status {
        /* Box Model */
        margin: 0 0 20px 0;

        /* Layout */
        display: flex;
        flex-direction: row;
        justify-content: center;

        /* Text */
        font-size: 1em;
    }

    .status_icon {
        /* Box Model */
        width: 12px;
        height: 12px;
        margin: auto 5px auto 0;
        border: 2px solid #1B1B1B;
        border-radius: 50%;
    }

    main {
        /* Box Model */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        padding: 0 0 1em 0;
        width: 100%;
        height: 88%;
        border-radius: 30px;
        box-sizing: border-box;
        overflow: hidden;

        /* Visual */
        background: #1A1A1A;
        box-shadow: inset 0 0 0.5em 0.5em #141414;
    }
}

.chat-messages::-webkit-scrollbar {
    border-radius: 30px;
    background-color: #1A1A1A;
}

.chat-messages::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: #1A1A1A;
}

.chat-messages::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
}

.chat-messages::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
    border-radius: 30px;
    border: 2px solid #1B1B1B;
    background-color: #2C2C2C;
    height: 10px;
}

.chat-messages {
    overflow-y: scroll;
    margin: 0 10px 0 30px;
    padding-bottom: 20px;
    align-content: end;
    
    div {
        height: 100%;
        width: 100%;
        align-content: center;
        text-align: center;
    }
}

.chat-message-wrap {
    display: flex;
    margin-top: 30px;
    width: 100%;
}

#chat-message-img {
    width: 40px;
    border-radius: 50%;
}
#chat-message-img-cell {
    width: min-content;
}

#chat-message-name-cell {
    padding-top: 10px;
}

#chat-message-name {
    padding: 0 10px 0 10px;
    font-weight: bold;
}

#chat-message-text {
    padding: 0 10px 0 10px;
    padding-top: 5px;
    font-weight: lighter;
}

#chat-form {
    display: flex;
    flex-direction: row;
    padding: 1em 1em 0 1em;
    border-top: 1px #3D3D3D solid;

    #user-profile-img {
        width: 50px;
        margin-right: 10px;
        border-radius: 20%;
    }

    #input-message {
        padding: 0 0 0 20px;
        height: 50px;
        width: 100%;
        color: white;
        background: #222222;
        border: 1px solid #3D3D3D;
        border-radius: 15px;
        outline: 0 !important;
    }

    #input-message::placeholder {
        text-align: center;
    }

    #btn-submit {
        position: absolute;
        transform: translate(570px, 6px);
        padding: 0;
        border: none;
        background: none;

        .material-symbols-rounded {
            font-size: 2.5em;
            color: #3D3D3D;
            font-variation-settings: 'FILL' 1,
            'wght' 400,
            'GRAD' 200,
            'opsz' 48
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}